<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="scot.mygov.geosearch" level="info"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="info">
        <appender-ref ref="stdout" />
    </root>

</configuration>
